.aside-tasks__container {
  margin-top: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .aside-tasks__container {
    display: block;
  }
}
