.aside {
  width: 260px;
  height: 728px;
  padding: 32px;
  background-color: var(--origin-white);
  border-radius: 16px;
}

.heading {
  font-size: 18px;
  font-weight: 600;
}

.radio-status {
  margin-top: 24px;
}

.radio-categories {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .aside {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    display: flex;
  }

  .heading {
    display: none;
  }

  .radio-status {
    margin-top: 0;
    margin-left: 8px;
  }

  .radio-categories {
    margin-top: 0;
    margin-left: 50px;
  }
}
