.layer {
  width: 100vw;
  height: 100vh;
  background: #c3c3c380;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.over-layer {
  width: 605px;
  background-color: var(--origin-white);
  border-radius: 24px;
  position: absolute;
  top: calc(50%);
  right: calc(50%);
  transform: translateY(-50%) translateX(50%);
  z-index: 2;
  animation: scale-up 0.6s;
}

@keyframes scale-up {
  0% {
    transform: translateY(-50%) translateX(50%) scale(0.8);
  }
  100% {
    transform: translateY(-50%) translateX(50%) scale(1);
  }
}

@media (max-width: 767px) {
  .over-layer {
    width: 80%;
  }
}
