.main {
  position: relative;
}

.label {
  display: block;
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: var(--origin-white);
  font-size: 12px;
  animation: move-up 0.3s;

  display: flex;
  align-items: center;
}

/* animation */
@keyframes move-up {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.red-star {
  color: red;
  font-size: 18px;
}

.text-area {
  display: block;
  width: 100%;
  height: 100%;
  padding: 17px;
  min-height: 158px;
  border: none;
  border-radius: 6px;
  border: 1px solid #ebecfb;
  outline: none;
  font-size: 16px;
}

.text-area:focus::placeholder {
  opacity: 0;
}
