.task {
  min-height: 95px;
  padding: 16px 24px;
  margin-bottom: 8px;
  display: block;
  background-color: var(--origin-white);
  border-radius: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 20px;
  line-height: 25px;
}

.categories-list {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.actions {
  display: flex;
  align-items: center;
}

.status-actions__container {
  position: relative;
}

.task-status {
  height: 30px;
  padding: 6px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
}

.task-status svg {
  margin-top: 3px;
}

.completed {
  color: #0a7900;
  background-color: #e1ffde;
}

.completed svg {
  stroke: #0a7900 !important;
}

.incompleted {
  color: #ff6b00;
  background-color: #fff2de;
}

.incompleted svg {
  stroke: #ff6b00 !important;
}

.drop-down {
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 1;
}

.status-actions__container:hover .drop-down {
  display: block;
}

.action-icon {
  margin-left: 8px;
  cursor: pointer;
}

.delete-dialog {
  width: 418px;
  height: 446px;
}

@media (max-width: 767px) {
  .delete-dialog {
    width: 300px;
  }
}
