@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --body-back-ground: #ecf0ff;
  --origin-white: #fff;
  --origin-black: #000;

  --btn-back-ground: #395bd3;
  --filter-title: #242424;

  --chip-back-color: #f6f6ff;
  --chip-color: #395bd3;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: var(--body-back-ground);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
